@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.bs-danger {
  background-color: transparent;
}

.card-title {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #FFFBE9;
}

h1 {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Montserrat" sans-serif;
}

header .navbar {
  display: flex;
  width: 100%;
  padding: 20px 10px;
  font-family: "Poppins", sans-serif;
}

.intro-img {
  height: 50vh;
  background: url(../assets/pexels-fauxels-3183186.jpg) no-repeat center;
  background-size: cover;
}

.intro {
  padding: 70px 0;
}
.intro h1 {
  font-size: xx-large;
}


.bs-danger {
  background-color: transparent;
}

.card-title {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #FFFBE9;
}

h1 {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Montserrat" sans-serif;
}

.cards-box {
  margin-bottom: 60px;
}

.card-text {
  text-align: center;
  margin-bottom: 30px;
}

.card-title {
  font-size: x-large;
  text-align: center;
  font-weight: 400;
}

.read-more {
  width: 60%;
  position: absolute;
  bottom: 0;
  right: 20%;
}
.read-more i {
  color: #E3CAA5;
}

.card-outcome {
  border: none;
}
.card-outcome div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-outcome a {
  align-self: flex-start;
  background-color: rgb(39, 37, 37);
  color: white;
  font-weight: light;
}
.card-outcome a i {
  color: #E3CAA5;
}

.car-box {
  border-radius: 20px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  appearance: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  font-family: var(--tipo-principal);
  font-size: 100%;
  line-height: 1.4em;
  min-height: 100vh;
  background-color: var(--blanco);
  color: var(--negro);
  hyphens: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.bs-danger {
  background-color: transparent;
}

.card-title {
  font-family: "Poppins", sans-serif;
}


body {
  background-color: #FFFBE9;
}

h1 {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Montserrat" sans-serif;
}

.ending {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 60px 0;
}
.ending div h1 {
  font-size: 2rem;
}

.other-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.other-box ul li {
  margin: 0 20px;
}

.bs-danger {
  background-color: transparent;
}

.card-title {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #FFFBE9;
}

h1 {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Montserrat" sans-serif;
}

.ul {
  width: 80%;
  background: lightgrey;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  gap: 1em;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.ul .li {
  background: orange;
  overflow: hidden;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 0.8em 0.8em 1.6em var(--sombra-ppal), -0.8em -0.8em 1.6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.ul .a,
.ul .img {
  min-height: 25vh;
  transition: all 0.5s ease;
  transform: scale(1.4);
}

.ul .li:hover .img {
  transform: scale(1);
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.577);
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(1.1);
  transition: all 0.5s ease;
  pointer-events: none;
}

.lightbox.activo {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.lightbox .cerrar {
  border: 2px solid;
  width: 5em;
  height: 3em;
  background: orange;
  margin: 0 0 1em;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 0.5em 0.5em 1em var(--sombra-ppal), -0.5em -0.5em 1em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  cursor: pointer;
  background-color: rgb(45, 38, 38);
  color: white;
}

.lightbox .cerrar:hover {
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 0.5em 0.5em 1em var(--sombra-ppal), inset -0.5em -0.5em 1em var(--sombra-sec);
  box-shadow: rgba(255, 0, 0, 0.624) 0 0 15px;
  background-color: rgb(45, 38, 38);
  color: white;
}

.lightbox .grande {
  width: 80%;
  height: 80vh;
  background: lightblue;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.box {
  height: 200px;
  width: 200px;
  background-color: red;
}

